.globalHeader{
  background: #fff;
}
.globalHeader h4{
  margin: 0;
}
ul.test{
  
}
ul.test a{
  color: white;
}
ul.test li{
  display: inline-block;
}
ul.test .active a{
  color: yellow;
}
ul.test h4{
  color: #fff;;
}